.sectionBackground section div h2{
    padding-top: 6px;
    background: rgb(243, 242, 242);
    padding-bottom: 6px;
    padding-left: 10px;
    border-radius: 5px;
}

.sectionBackground section{
    padding: 0;
}

.imagesDiv {
    overflow: auto;
    white-space: nowrap;
    margin-top: -20px;
}

.equipmentSpinner {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 55px;
}