.head-style{
    background-color: #FBFBFB;
}

.checkbox-div{
   margin-left: 8px;
   display:flex;
}

.checkbox-input{
    margin-right: -10px;
}

.checkbox-icon{
    padding: 0;
}

.comment-input{
    display: flex;
    align-items: center;
}

.th-style{
    width: 50px; 
    height: 30px;
    border-left: 1px solid;
    border-color: gray;
}

.th-table{
    border-right: 1px solid; 
    width: 150px;
    border-color: gray;
}
.left-align{
    margin-left: 10px;
}

.left-align-Comment{
    margin-left: 9px;
}

.th-style-icon{
    width: 50px; 
    border-right: 1px solid;
    border-color: gray;
}

.table-scroll{
   max-height: 225px;
}

.table-scroll-auto{
    overflow-x: scroll;
    position: relative;
}

.style-text{
    text-align: center;
    padding: 5px;
    font-size: medium;
}