.c4mc-decisionMakersStandardBtn button{
    background-color: #000000;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    margin-right: 0.2rem;
    padding: 3px 25px;
    margin-left: 10px;
    font-weight: 500;
}

.c4mc-decisionMakersStandardBtn button:hover{
    background-color: #000000;
    color: #ffffff;
}

.c4mc-decisionMakersStandardBtn button:active{
    background-color: #000000;
    color: #ffffff;
}

.c4mc-decisionMakersStandardBtn button:focus{
    background-color: #000000;
    color: #ffffff;
}

.c4mc-decisionMakersCancelBtn button {
    background-color: #f1f1f1;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.11);
    border: 1px solid #000 !important;
    border-radius: 15px;
    padding: 2px 24px;
    color:#080707;
    margin-left: 10px;
    font-weight: 500;
}

.c4mc-decisionMakersCancelBtn button:hover {
    background-color: #f1f1f1;
    color:#080707;
}

.c4mc-decisionMakersCenteredBtn {
    width: 98%; 
    position: absolute; 
    text-align: center;
}